.main{
	position: relative;
	width: 100%;
	header{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include flex(column);
		        
		.header{
			@include flex(column);
			-webkit-transform: scale(1) translateY(0);
			        transform: scale(1) translateY(0);
			-webkit-animation: headerSlideIn $animationProps;
			        animation: headerSlideIn $animationProps;
			-webkit-animation-duration: 1.2s;
			        animation-duration: 1.2s;			
			-webkit-animation-delay: 1s;			
			        animation-delay: 1s;
			&__text, &__icon{
				margin: 1rem 0;
			}
			&__text{
				font-weight: $fontBold;
				font-size: $headerText;	
			}
			&__icon{
				svg{
					max-height: auto;
					width: $headerText + 2rem;
				}
			}
		}
		.header--out{
			-webkit-animation: headerSlideOut $animationProps;
			        animation: headerSlideOut $animationProps;
			-webkit-animation-delay: 0;
			        animation-delay: 0;
			-webkit-animation-duration: 1.2s;
			        animation-duration: 1.2s;
		}
	}
}

@-webkit-keyframes headerSlideIn{
	0%{

		-webkit-transform: scale(1) translateY(0);

		        transform: scale(1) translateY(0);
	}
	100%{
		-webkit-transform: scale(0.9) translateY(-100%);
		        transform: scale(0.9) translateY(-100%);
	}
}

@keyframes headerSlideIn{
	0%{

		-webkit-transform: scale(1) translateY(0);

		        transform: scale(1) translateY(0);
	}
	100%{
		-webkit-transform: scale(0.9) translateY(-100%);
		        transform: scale(0.9) translateY(-100%);
	}
}
@-webkit-keyframes headerSlideOut{
	0%{
		opacity: 1;
		-webkit-transform: scale(0.9) translateY(-100%);
		        transform: scale(0.9) translateY(-100%);
	}
	100%{
		opacity: 0.6;
		-webkit-transform: scale(0.7) translateY(-500%);
		        transform: scale(0.7) translateY(-500%);
	}
}
@keyframes headerSlideOut{
	0%{
		opacity: 1;
		-webkit-transform: scale(0.9) translateY(-100%);
		        transform: scale(0.9) translateY(-100%);
	}
	100%{
		opacity: 0.6;
		-webkit-transform: scale(0.7) translateY(-500%);
		        transform: scale(0.7) translateY(-500%);
	}
}


@media screen and (min-width: 500px){
	.main{
		header{
			.header{
				&__text{
					font-size: $headerText*1.5;	
				}
				&__icon{
					svg{
						max-height: auto;
						width: $headerText*2;
					}
				}
			}
		}
	}



	@-webkit-keyframes headerSlideIn{
		0%{

			-webkit-transform: scale(1) translateY(0);

			        transform: scale(1) translateY(0);
		}
		100%{
			-webkit-transform: scale(0.9) translateY(-150%);
			        transform: scale(0.9) translateY(-150%);
		}
	}



	@keyframes headerSlideIn{
		0%{

			-webkit-transform: scale(1) translateY(0);

			        transform: scale(1) translateY(0);
		}
		100%{
			-webkit-transform: scale(0.9) translateY(-150%);
			        transform: scale(0.9) translateY(-150%);
		}
	}
	@-webkit-keyframes headerSlideOut{
		0%{
			opacity: 1;
			-webkit-transform: scale(0.9) translateY(-150%);
			        transform: scale(0.9) translateY(-150%);
		}
		100%{
			opacity: 0.6;
			-webkit-transform: scale(0.7) translateY(-900%);
			        transform: scale(0.7) translateY(-900%);
		}
	}
	@keyframes headerSlideOut{
		0%{
			opacity: 1;
			-webkit-transform: scale(0.9) translateY(-150%);
			        transform: scale(0.9) translateY(-150%);
		}
		100%{
			opacity: 0.6;
			-webkit-transform: scale(0.7) translateY(-900%);
			        transform: scale(0.7) translateY(-900%);
		}
	}	
}

